.instructions-heading {
    margin: 0;
}

.logo-placeholder {
    width: 100px;
    height: 100px;
    border: 2px dashed var(--text-color);
    margin: 0 auto 1rem;
    display: flex;
    object-fit: contain; /* Ensures the image scales nicely within the box */
    align-items: center;
    justify-content: center;
    color: var(--subtle-text-color);
}

.content {
    text-align: left;
}
