.rack-score {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

@media (min-width: 768px) {
    .rack-score {
        width: 20%;
    }
}

.score-piece {
    text-align: center;
    min-width: 2ch;
}

.multiplier {
    min-width: 5ch;
}
