.rack-score {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

@media (min-width: 768px) {
    .rack-score {
        /* Give it a fixed minimum width to prevent overflow on medium-wide screens */
        min-width: var(--score-column-width);
    }
}

.score-piece {
    text-align: center;
    min-width: 2ch;
}
